* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top, #jumbotron, .cnt-section, .table {
    padding: 1rem 13rem 1rem 13rem;
}

.top {
    background-color: rgb(0, 255, 255);
    
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
    background-color: yellow;
}

.header > div {
    width: 25%;
}

#logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
}

.list-unstyled {
    display: flex;
    list-style: none;
    gap: 0.75rem;
    width: 48%;
    justify-content: center;

    a { 
        text-decoration: none;
    }

    &.hover {
        text-decoration: none;
    }

    }

    #login_bt {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
    }

    #jumbotron {
        background-color: blue;
        display: flex;
        align-items: center;
        
        div {
            height: 300px;
            width: 60%;
            margin: auto;
            background-color: blueviolet;
        }
    }

.cnt-section {
    min-height: 400px;
}

.invite-only {
        display: flex;

}

.big-box {
        width: 60%;
        background-color: blue;
}

.small-box {
        width: 40%;
        background-color: pink;
}

.community {
    background-color: lightgrey;
    display: flex;
}

.fandom {
    display: flex;
}

#tecnology {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    
    div {
        min-height: 800px;
        width: 100%;
        background-color: green;
    }
}

.table {
    height: 700px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
}

#nav {
    width: 33%;
    background-color: pink;
}

.aside {
    width: 16%;
    background-color: rgb(14, 195, 195);
}