* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: aqua;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
    width: 70%;
    margin: auto;
    background-color: yellow;
}

.header > div {
    width: 25%;
}

.list-unstyled {
    display: flex;
    list-style: none;
    gap: 0.75rem;
    width: 48%;
    justify-content: center;

    a { 
        text-decoration: none;
    }

    &.hover {
        text-decoration: none;
    }

    }

    #login_bt {
        display: flex;
        justify-content: flex-end;
    }