* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background-color: aqua;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 30px;
    width: 70%;
    margin: auto;
    background-color: yellow;
}

.header > div {
    width: 25%;
}

#logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
}

.list-unstyled {
    display: flex;
    list-style: none;
    gap: 0.75rem;
    width: 48%;
    justify-content: center;

    a { 
        text-decoration: none;
    }

    &.hover {
        text-decoration: none;
    }

    }

    #login_bt {
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
    }

    #jumbotron {
        height: 400px;
        background-color: blue;
        display: flex;
        align-items: center;
        
        div {
            height: 300px;
            width: 50%;
            margin: auto;
            background-color: blueviolet;
        }
    }

    .invite-only.cnt-section {
        min-height: 400px;
        padding-top:30px;
        padding-bottom: 30px;
        padding-left: 200px;
        padding-right: 200px;
        display: flex;



    }

    .big-box {
        width: 60%;
        background-color: blue;
    }

    .small-box {
        width: 40%;
        background-color: pink;
    }